{% extends 'user/partials/base.html.twig' %}
{% block title %}Votre panier{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Votre panier</h1>
            </div>
        </div>
        <div id="table-cart" class="row">
            {{ include('user/partials/_cart-tab.html.twig') }}
        </div>
    </div>
{% endblock %}
