{% extends "user/partials/base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="alert alert-light">
            <h2 class="alert-title">Paiement de la commande</h2>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_opSBUpgM1lEIS15LPfymwgYw00aUEDfQTi');
        var CHECKOUT_SESSION_ID = "{{ CHECKOUT_SESSION_ID|escape("js") }}";

        stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as parameter here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: CHECKOUT_SESSION_ID
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });

    </script>

{% endblock %}
