{% extends 'admin/partials/base.html.twig' %}
{% block title %}Paiements à confirmer{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
{% endblock %}
