{% extends 'user/partials/base.html.twig' %}
{% block title %}Confirmer votre commande{% endblock %}

{% block body %}
    <h2>Vérification et validation de votre commande</h2>
    <h2>Adresse de livraison</h2>
    <h2>Date de livraison</h2>
    <h2>Mode de paiement</h2>
{% endblock %}
